# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
.DS_Store
en/identity-server/versions/site
en/identity-server/5.9.0/site
en/identity-server/5.10.0/site
en/identity-server/5.11.0/site
en/identity-server/6.0.0/site
en/identity-server/6.1.0/site
en/identity-server/7.0.0/site
en/identity-server/next/site
en/asgardeo/site
