---
template: templates/redoc.html
---

<redoc spec-url="../../apis/restapis/user-identity-verification.yaml"></redoc>
