openapi: 3.0.0
info:
  version: 1.0.0
  title: "Agent Sharing API (v1)"
  description: |-
    This document defines the **Agent Sharing REST API (v1)** for organizations in **Asgardeo**.

    It enables organization administrators to:
    - Share agents (machine identities / service accounts) across child organizations.
    - Configure per-organization agent role assignments.
    - Manage and revoke shared access for agents.
    - Retrieve an agent's shared organizations and effective roles.

    A shared agent can authenticate within the target sub-organization and act on behalf of its
    users through the organization On-Behalf-Of (OBO) flow.
  contact:
    name: WSO2
    url: 'https://wso2.com/identity-platform/access-manager/'
    email: iam-dev@wso2.org
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://api.asgardeo.io/t/{organization-name}/api/server/v1'
    variables:
      organization-name:
        default: "{organization-name}"

security:
  - OAuth2: []

paths:
  /agents/share:
    post:
      tags:
        - Agent Sharing
      summary: Share agents with specific organizations
      description: |-
        Share one or more agents with a selected set of organizations, optionally
        assigning roles to each shared agent in each target organization.

        This endpoint is treated as a **processing function**:
        it triggers a sharing process and responds with `202 Accepted`.

        **Scope required:** `internal_agent_share`
      operationId: shareAgentsWithSelected
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentShareSelectedRequestBody"
            example:
              agentCriteria:
                agentIds:
                  - "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                  - "5d2a1c84-9f7a-43cd-b12e-6e52d7f87e16"
              organizations:
                - orgId: "b028ca17-8f89-449c-ae27-fa955e66465d"
                  policy: "SELECTED_ORG_ONLY"
                  roleAssignment:
                    mode: "SELECTED"
                    roles:
                      - displayName: "Org Admin"
                        audience:
                          display: "My Org 1"
                          type: "organization"
                - orgId: "a17b28ca-9f89-449c-ae27-fa955e66465f"
                  policy: "SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN"
      responses:
        "202":
          description: Agent sharing process triggered successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessSuccessResponse"
              example:
                status: "Processing"
                details: "Agent sharing process triggered successfully."
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: Curl
          source: |
            curl --location 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/share' \
            -H 'Content-Type: application/json' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}' \
            -d '{
              "agentCriteria": {
                "agentIds": [
                  "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8",
                  "5d2a1c84-9f7a-43cd-b12e-6e52d7f87e16"
                ]
              },
              "organizations": [
                {
                  "orgId": "b028ca17-8f89-449c-ae27-fa955e66465d",
                  "policy": "SELECTED_ORG_ONLY",
                  "roleAssignment": {
                    "mode": "SELECTED",
                    "roles": [
                      {
                        "displayName": "Org Admin",
                        "audience": {
                          "display": "My Org 1",
                          "type": "organization"
                        }
                      }
                    ]
                  }
                },
                {
                  "orgId": "a17b28ca-9f89-449c-ae27-fa955e66465f",
                  "policy": "SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN"
                }
              ]
            }'

    patch:
      tags:
        - Agent Sharing
      summary: Perform incremental role assignment operations for already shared agents
      description: |-
        Perform **incremental updates** to the shared attributes (e.g., role assignments) of already shared agents.

        This endpoint supports **SCIM-like PATCH semantics**:
        - `op: "add"`    → assign additional roles.
        - `op: "remove"` → remove specific roles.

        > **Note:**
        > Only **role assignment** updates are managed here as of now. Sharing/unsharing organizations
        > is handled via `/agents/share`, `/agents/share-with-all`, `/agents/unshare`,
        > and `/agents/unshare-with-all`.

        **Scope required:** `internal_agent_shared_access_update`
      operationId: patchAgentSharing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentSharingPatchRequest"
            examples:
              addAndRemoveRoles:
                summary: Add and remove roles for a shared agent in a specific organization
                value:
                  agentCriteria:
                    agentIds:
                      - "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                  Operations:
                    - op: "add"
                      path: "organizations[orgId eq b028ca17-8f89-449c-ae27-fa955e66465d].roles"
                      value:
                        - displayName: "Org Viewer"
                          audience:
                            display: "My Org 1"
                            type: "organization"
                        - displayName: "App Editor"
                          audience:
                            display: "My App 1"
                            type: "application"
                    - op: "remove"
                      path: "organizations[orgId eq b028ca17-8f89-449c-ae27-fa955e66465d].roles"
                      value:
                        - displayName: "Org Admin"
                          audience:
                            display: "My Org 1"
                            type: "organization"
      responses:
        "202":
          description: Role assignment patch operation processed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessSuccessResponse"
              example:
                status: "Processing"
                details: "Shared agent attributes patch process triggered successfully."
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: Curl
          source: |
            curl --location --request PATCH 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/share' \
            -H 'Content-Type: application/json' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}' \
            -d '{
              "agentCriteria": {
                "agentIds": [
                  "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                ]
              },
              "Operations": [
                {
                  "op": "add",
                  "path": "organizations[orgId eq b028ca17-8f89-449c-ae27-fa955e66465d].roles",
                  "value": [
                    {
                      "displayName": "Org Viewer",
                      "audience": {
                        "display": "My Org 1",
                        "type": "organization"
                      }
                    },
                    {
                      "displayName": "App Editor",
                      "audience": {
                        "display": "My App 1",
                        "type": "application"
                      }
                    }
                  ]
                },
                {
                  "op": "remove",
                  "path": "organizations[orgId eq b028ca17-8f89-449c-ae27-fa955e66465d].roles",
                  "value": [
                    {
                      "displayName": "Org Admin",
                      "audience": {
                        "display": "My Org 1",
                        "type": "organization"
                      }
                    }
                  ]
                }
              ]
            }'

  /agents/share-with-all:
    post:
      tags:
        - Agent Sharing
      summary: Share agents with all organizations
      description: |-
        Share one or more agents with **all organizations** according to the specified policy.

        A common `roleAssignment` can be provided to assign roles in all matching organizations.

        This endpoint is treated as a **processing function** and responds with `202 Accepted`.

        **Scope required:** `internal_agent_share`
      operationId: shareAgentsWithAll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentShareAllRequestBody"
            example:
              agentCriteria:
                agentIds:
                  - "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
              policy: "ALL_EXISTING_AND_FUTURE_ORGS"
              roleAssignment:
                mode: "SELECTED"
                roles:
                  - displayName: "Global Org Viewer"
                    audience:
                      display: "My Org 1"
                      type: "organization"
      responses:
        "202":
          description: Share-all process triggered successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessSuccessResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: Curl
          source: |
            curl --location 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/share-with-all' \
            -H 'Content-Type: application/json' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}' \
            -d '{
              "agentCriteria": {
                "agentIds": [
                  "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                ]
              },
              "policy": "ALL_EXISTING_AND_FUTURE_ORGS",
              "roleAssignment": {
                "mode": "SELECTED",
                "roles": [
                  {
                    "displayName": "Global Org Viewer",
                    "audience": {
                      "display": "My Org 1",
                      "type": "organization"
                    }
                  }
                ]
              }
            }'

  /agents/unshare:
    post:
      tags:
        - Agent Sharing
      summary: Unshare agents from specific organizations
      description: |-
        Unshare one or more agents from a selected set of organizations.

        > **Note:**
        > This only removes the agent from the specified organizations. If the agent
        > was shared with a parent org plus its children via a broader policy,
        > you must explicitly include all relevant organization IDs when unsharing.

        This endpoint is treated as a **processing function** and responds with `202 Accepted`.

        **Scope required:** `internal_agent_unshare`
      operationId: unshareAgentsFromSelected
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentUnshareSelectedRequestBody"
            example:
              agentCriteria:
                agentIds:
                  - "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
              orgIds:
                - "b028ca17-8f89-449c-ae27-fa955e66465d"
                - "a17b28ca-9f89-449c-ae27-fa955e66465f"
      responses:
        "202":
          description: Unsharing process triggered successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessSuccessResponse"
              example:
                status: "Processing"
                details: "Agent unsharing process triggered successfully."
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: Curl
          source: |
            curl --location 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/unshare' \
            -H 'Content-Type: application/json' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}' \
            -d '{
              "agentCriteria": {
                "agentIds": [
                  "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                ]
              },
              "orgIds": [
                "b028ca17-8f89-449c-ae27-fa955e66465d",
                "a17b28ca-9f89-449c-ae27-fa955e66465f"
              ]
            }'

  /agents/unshare-with-all:
    post:
      tags:
        - Agent Sharing
      summary: Unshare agents from all organizations
      description: |-
        Completely remove all shared access for one or more agents from **all organizations**.

        This endpoint is treated as a **processing function** and responds with `202 Accepted`.

        **Scope required:** `internal_agent_unshare`
      operationId: unshareAgentsFromAll
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentUnshareAllRequestBody"
            example:
              agentCriteria:
                agentIds:
                  - "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
      responses:
        "202":
          description: Unshare-all process triggered successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessSuccessResponse"
              example:
                status: "Processing"
                details: "Agent unsharing process triggered successfully."
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: Curl
          source: |
            curl --location 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/unshare-with-all' \
            -H 'Content-Type: application/json' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}' \
            -d '{
              "agentCriteria": {
                "agentIds": [
                  "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                ]
              }
            }'

  /agents/{agentId}/share:
    get:
      tags:
        - Agent Accessible Organizations
      summary: List organizations where the agent has shared access
      description: |-
        Retrieve the list of organizations where the specified agent has shared access,
        including per-organization effective role assignments.

        The response shape depends on how the agent was shared:
        - If the agent has been shared via **`ALL_EXISTING_AND_FUTURE_ORGS`** policy → top-level `sharingMode` is returned,
          and no per-org `sharingMode` is present on each organization entry.
        - If the agent has been shared via **`SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN`** → no top-level `sharingMode` is returned,
          and each organization entry includes its own `sharingMode`.
        - If the agent has not been shared under any future applicable policies mentioned above, the response will simply include the list of shared organizations without any `sharingMode` information.

        **Scope required:** `internal_agent_shared_access_view`
      operationId: getAgentSharedOrganizations
      parameters:
        - in: path
          name: agentId
          required: true
          schema:
            type: string
          description: The ID of the agent.
        - in: query
          name: before
          required: false
          schema:
            type: string
          example: "Ng=="
          description: Base64 encoded cursor value for backward pagination.
        - in: query
          name: after
          required: false
          schema:
            type: string
          example: "Ng=="
          description: Base64 encoded cursor value for forward pagination.
        - in: query
          name: filter
          required: false
          schema:
            type: string
          example: "orgId eq b028ca17-8f89-449c-ae27-fa955e66465d"
          description: |-
            Condition to filter the retrieval of records.
            Supports `sw`, `co`, `ew`, and `eq` operations.
        - in: query
          name: limit
          required: false
          schema:
            type: integer
          example: 10
          description: |-
            Maximum number of records to return. If you do not specify this parameter,
            this will return all shared organizations.
        - in: query
          name: recursive
          required: false
          schema:
            type: boolean
          description: |-
            Determines whether a recursive search should happen.
            If set to true, includes shared organizations in all levels of the hierarchy;
            if set to false, includes only shared organizations in the next level of the hierarchy.
        - in: query
          name: attributes
          required: false
          schema:
            type: string
          example: "roles"
          description: |-
            Specifies the required parameters in the response.
            Supported values: `roles`, `sharingMode`.
      responses:
        "200":
          description: Successful response with the agent's shared organizations.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AgentSharedOrgsAllResponse"
                  - $ref: "#/components/schemas/AgentSharedOrgsSelectedResponse"
              examples:
                sharedWithAll:
                  summary: Agent shared with all organizations
                  value:
                    links:
                      - href: "/t/{organization-name}/api/server/v1/agents/7a1b7d63-8cfc-4dc9-9332-3f84641b72d8/share?limit=10&after=MTA="
                        rel: "next"
                    sharingMode:
                      policy: "ALL_EXISTING_AND_FUTURE_ORGS"
                      roleAssignment:
                        mode: "SELECTED"
                        roles:
                          - displayName: "Global Org Viewer"
                            audience:
                              display: "My Org 1"
                              type: "organization"
                    organizations:
                      - orgId: "b028ca17-8f89-449c-ae27-fa955e66465d"
                        orgName: "Child Org 1"
                        orgHandle: "child-org-1"
                        orgStatus: "ACTIVE"
                        orgRef: "/t/wso2.com/api/server/v1/organizations/b028ca17-8f89-449c-ae27-fa955e66465d"
                        hasChildren: true
                        depthFromRoot: 1
                        parentOrgId: "08f8c1d2-4b3e-4c5a-9f6b-7d8e9f0a1b2c"
                        parentAgentId: "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                        sharedAgentId: "550e8400-e29b-41d4-a716-446655440000"
                        sharedType: "SHARED"
                        roles:
                          - displayName: "Global Org Viewer"
                            audience:
                              display: "My Org 1"
                              type: "organization"
                sharedWithSelected:
                  summary: Agent shared with selected organizations
                  value:
                    links:
                      - href: "/t/{organization-name}/api/server/v1/agents/7a1b7d63-8cfc-4dc9-9332-3f84641b72d8/share?limit=10&after=MTA="
                        rel: "next"
                    organizations:
                      - orgId: "b028ca17-8f89-449c-ae27-fa955e66465d"
                        orgName: "Child Org 1"
                        orgHandle: "child-org-1"
                        orgStatus: "ACTIVE"
                        orgRef: "/t/wso2.com/api/server/v1/organizations/b028ca17-8f89-449c-ae27-fa955e66465d"
                        hasChildren: true
                        depthFromRoot: 1
                        parentOrgId: "08f8c1d2-4b3e-4c5a-9f6b-7d8e9f0a1b2c"
                        parentAgentId: "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                        sharedAgentId: "550e8400-e29b-41d4-a716-446655440000"
                        sharedType: "SHARED"
                        sharingMode:
                          policy: "SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN"
                          roleAssignment:
                            mode: "SELECTED"
                            roles:
                              - displayName: "Org Admin"
                                audience:
                                  display: "My Org 1"
                                  type: "organization"
                        roles:
                          - displayName: "Org Admin"
                            audience:
                              display: "My Org 1"
                              type: "organization"
                      - orgId: "a17b28ca-9f89-449c-ae27-fa955e66465f"
                        orgName: "Child Org 2"
                        orgHandle: "child-org-2"
                        orgStatus: "ACTIVE"
                        orgRef: "/t/wso2.com/api/server/v1/organizations/a17b28ca-9f89-449c-ae27-fa955e66465f"
                        hasChildren: false
                        depthFromRoot: 1
                        parentOrgId: "08f8c1d2-4b3e-4c5a-9f6b-7d8e9f0a1b2c"
                        parentAgentId: "7a1b7d63-8cfc-4dc9-9332-3f84641b72d8"
                        sharedAgentId: "3f2504e0-4f89-41d3-9a0c-0305e82c3301"
                        sharedType: "SHARED"
                        sharingMode:
                          policy: "SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN"
                          roleAssignment:
                            mode: "NONE"
                        roles: []
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: Curl
          label: Basic
          source: |
            curl --location 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/{agentId}/share' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}'
        - lang: Curl
          label: With pagination and attributes
          source: |
            curl --location 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/{agentId}/share?limit=10&after=Ng==&attributes=roles,sharingMode&recursive=true' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}'
        - lang: Curl
          label: With filter
          source: |
            curl --location 'https://api.asgardeo.io/t/{organization-name}/api/server/v1/agents/{agentId}/share?filter=orgId+eq+b028ca17-8f89-449c-ae27-fa955e66465d' \
            -H 'Accept: application/json' \
            -H 'Authorization: Bearer {bearer_token}'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: "https://api.asgardeo.io/t/{organization-name}/oauth2/authorize"
          tokenUrl: "https://api.asgardeo.io/t/{organization-name}/oauth2/token"
          scopes:
            internal_agent_share: "Share agents across organizations."
            internal_agent_unshare: "Unshare agents from organizations."
            internal_agent_shared_access_view: "View shared organizations and roles for an agent."
            internal_agent_shared_access_update: "Update shared attributes (e.g., roles) for shared agents."

  schemas:

    # ===== Core request models =====

    AgentCriteria:
      type: object
      description: Criteria for selecting agents to share/unshare.
      properties:
        agentIds:
          type: array
          description: List of agent IDs.
          items:
            type: string
      required:
        - agentIds

    AgentShareSelectedRequestBody:
      type: object
      description: |-
        Request body for sharing agents with a **selected set of organizations**.
      required:
        - agentCriteria
        - organizations
      properties:
        agentCriteria:
          $ref: "#/components/schemas/AgentCriteria"
        organizations:
          type: array
          description: List of organizations to share agents with, along with policies and optional role assignments.
          items:
            $ref: "#/components/schemas/AgentOrgShareConfig"

    AgentOrgShareConfig:
      type: object
      description: Per-organization sharing configuration for selected organizations.
      required:
        - orgId
        - policy
      properties:
        orgId:
          type: string
          description: Organization ID to share the agents with.
        policy:
          type: string
          description: |-
            Sharing scope for this organization.

            Possible values:
            - `SELECTED_ORG_ONLY`
            - `SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN`
        roleAssignment:
          $ref: "#/components/schemas/RoleAssignment"
          description: |-
            Optional role assignment configuration for this organization.
            If omitted, the default behavior is to assign **no roles** (equivalent to `mode = NONE`).

    AgentShareAllRequestBody:
      type: object
      description: |-
        Request body for sharing agents with **all organizations** controlled by the selected policy.
      required:
        - agentCriteria
        - policy
      properties:
        agentCriteria:
          $ref: "#/components/schemas/AgentCriteria"
        policy:
          type: string
          description: |-
            Global sharing policy.

            Possible values:
            - `ALL_EXISTING_AND_FUTURE_ORGS`
        roleAssignment:
          $ref: "#/components/schemas/RoleAssignment"
          description: |-
            Optional global role assignment configuration that applies to all organizations
            covered by this policy. If omitted, default behavior is **no roles**.

    AgentUnshareSelectedRequestBody:
      type: object
      description: |-
        Request body for unsharing agents from selected organizations.
      required:
        - agentCriteria
        - orgIds
      properties:
        agentCriteria:
          $ref: "#/components/schemas/AgentCriteria"
        orgIds:
          type: array
          description: List of organization IDs from which agents should be unshared.
          items:
            type: string

    AgentUnshareAllRequestBody:
      type: object
      description: |-
        Request body for unsharing agents from **all organizations**.
      required:
        - agentCriteria
      properties:
        agentCriteria:
          $ref: "#/components/schemas/AgentCriteria"

    # ===== PATCH models =====

    AgentSharingPatchRequest:
      type: object
      description: |-
        PATCH request for performing incremental role assignment operations
        on already shared agents.
      required:
        - agentCriteria
        - Operations
      properties:
        agentCriteria:
          $ref: "#/components/schemas/AgentCriteria"
        Operations:
          type: array
          items:
            $ref: "#/components/schemas/AgentSharingPatchOperation"

    AgentSharingPatchOperation:
      type: object
      description: |-
        A single PATCH operation (SCIM-like) for agent sharing.

        Currently supported:
        - `op: "add"`    → Add roles.
        - `op: "remove"` → Remove roles.
      required:
        - op
        - path
      properties:
        op:
          type: string
          description: "Operation type. Supported values: `add`, `remove`."
        path:
          type: string
          description: |-
            JSON-like path in the format:
            - `organizations[orgId eq \"<org-id>\"].roles`
        value:
          type: array
          description: |-
            List of roles to add/remove under the specified path.
          items:
            $ref: "#/components/schemas/RoleShareConfig"

    # ===== Role assignment models =====

    RoleAssignment:
      type: object
      description: |-
        Role assignment configuration for shared agents.

        This controls which roles are assigned to the agent in the target organization.

        - `NONE`     → Do not assign any roles via agent sharing.
        - `SELECTED` → Assign only the roles listed under `roles`.
      properties:
        mode:
          type: string
          enum:
            - NONE
            - SELECTED
          default: SELECTED
          description: Mode of role assignment.
        roles:
          type: array
          description: |-
            List of roles to assign when `mode = SELECTED`.
            Required when `mode = SELECTED`. Ignored when `mode = NONE`.
          items:
            $ref: "#/components/schemas/RoleShareConfig"

    RoleShareConfig:
      type: object
      description: |-
        Role to be assigned to the shared agent in the sub-organization.
      required:
        - displayName
        - audience
      properties:
        displayName:
          type: string
          description: "Human-readable name of the role."
          example: "Org Admin"
        audience:
          type: object
          required:
            - display
            - type
          properties:
            display:
              type: string
              description: "Display name of the audience (organization or application)."
              example: "My Org 1"
            type:
              type: string
              description: |-
                Type of the role audience:
                - `organization`
                - `application`
              example: "organization"

    # ===== Sharing Mode models =====

    SharingModeAll:
      type: object
      description: |-
        Top-level sharing mode present when the agent is shared with ALL organizations.
        Policy is always `ALL_EXISTING_AND_FUTURE_ORGS`.
      required:
        - policy
        - roleAssignment
      properties:
        policy:
          type: string
          enum:
            - ALL_EXISTING_AND_FUTURE_ORGS
          description: Global sharing policy covering all existing and future organizations.
        roleAssignment:
          $ref: "#/components/schemas/RoleAssignment"

    SharingModeSelected:
      type: object
      description: |-
        Per-org sharing mode present when the agent is shared with SELECTED organizations.
        Policy is always `SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN`.
      required:
        - policy
        - roleAssignment
      properties:
        policy:
          type: string
          enum:
            - SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN
          description: Sharing policy scoped to a selected organization and its children.
        roleAssignment:
          $ref: "#/components/schemas/RoleAssignment"

    # ===== Organization entry models =====

    AgentSharedOrganizationBase:
      type: object
      description: Common fields for a shared organization entry.
      properties:
        orgId:
          type: string
          description: ID of the child organization.
        orgName:
          type: string
          description: Name of the child organization.
        orgHandle:
          type: string
          description: Unique, human-readable handle of the organization.
          example: "sampleOrg"
        orgStatus:
          type: string
          description: Current status of the organization.
          example: "ACTIVE"
        orgRef:
          type: string
          description: API reference of the organization resource.
          example: "/t/wso2.com/api/server/v1/organizations/b4526d91-a8bf-43d2-8b14-c548cf73065b"
        hasChildren:
          type: boolean
          description: Indicates whether the organization has child organizations.
        depthFromRoot:
          type: integer
          description: Depth of the organization in the hierarchy, where root is 0.
          example: 1
        parentOrgId:
          type: string
          nullable: true
          description: ID of the parent (sharing initiated) organization.
        parentAgentId:
          type: string
          nullable: true
          description: ID of the original agent in the parent (home) organization.
        sharedAgentId:
          type: string
          description: ID of the shared agent object in the target organization.
        sharedType:
          type: string
          description: Shared type of the agent.
          example: "SHARED"
        roles:
          type: array
          description: Effective roles assigned to this agent in this organization via agent sharing.
          items:
            $ref: "#/components/schemas/RoleShareConfig"

    AgentSharedOrganizationAllEntry:
      description: |-
        Organization entry when the agent is shared via ALL_EXISTING_AND_FUTURE_ORGS policy.
        No per-org sharingMode is present.
      allOf:
        - $ref: "#/components/schemas/AgentSharedOrganizationBase"

    AgentSharedOrganizationSelectedEntry:
      description: |-
        Organization entry when the agent is shared via SELECTED org policy.
        Includes per-org sharingMode with policy SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN.
      allOf:
        - $ref: "#/components/schemas/AgentSharedOrganizationBase"
        - type: object
          required:
            - sharingMode
          properties:
            sharingMode:
              $ref: "#/components/schemas/SharingModeSelected"

    # ===== Top-level response models =====

    AgentSharedOrgsAllResponse:
      type: object
      description: |-
        Response when the agent is shared with ALL organizations.
        - Top-level `sharingMode` is present with policy `ALL_EXISTING_AND_FUTURE_ORGS`.
        - Per-org `sharingMode` is absent on each organization entry.
      required:
        - sharingMode
        - organizations
      properties:
        links:
          type: array
          items:
            $ref: "#/components/schemas/Link"
        sharingMode:
          $ref: "#/components/schemas/SharingModeAll"
        organizations:
          type: array
          items:
            $ref: "#/components/schemas/AgentSharedOrganizationAllEntry"

    AgentSharedOrgsSelectedResponse:
      type: object
      description: |-
        Response when the agent is shared with SELECTED organizations.
        - Top-level `sharingMode` is absent.
        - Each organization entry includes its own `sharingMode` with policy
          `SELECTED_ORG_WITH_ALL_EXISTING_AND_FUTURE_CHILDREN`.
      required:
        - organizations
      properties:
        links:
          type: array
          items:
            $ref: "#/components/schemas/Link"
        organizations:
          type: array
          items:
            $ref: "#/components/schemas/AgentSharedOrganizationSelectedEntry"

    # ===== Common models =====

    Link:
      type: object
      properties:
        href:
          type: string
          example: "/t/{organization-name}/api/server/v1/agents/7a1b7d63-8cfc-4dc9-9332-3f84641b72d8/share?limit=10&after=MTA="
        rel:
          type: string
          example: "next"

    ProcessSuccessResponse:
      type: object
      description: |-
        Indicates that a sharing / unsharing / patch process has been triggered.
      properties:
        status:
          type: string
          example: "Processing"
        details:
          type: string
          example: "Agent sharing process triggered successfully."

    Error:
      type: object
      description: |
        Error response model with a code, message, description, and trace ID.
      required:
        - code
        - message
        - traceId
      properties:
        code:
          type: string
          example: "ASM-00000"
        message:
          type: string
          example: "Some error message."
        description:
          type: string
          example: "Some error description."
        traceId:
          type: string
          example: "e0fbcfeb-7fc2-4b62-8b82-72d3c5fbcdeb"
