openapi: 3.0.0
info:
  version: "v1"
  title: Asgardeo - SCIM 2.0 API
  description: 
    "This is the RESTful API for SCIM 2.0 in Asgardeo suborganizations. 
    This API allows creating, deleting, listing, and updating user and groups. 
    \n To access the SCIM 2.0 APIs in Asgardeo, you need to first get an access token from your suborganization."
security:
- OAuth2: []
servers:
  - url: 'https://api.asgardeo.io/o/{suborganization-id}/scim2'
    variables:
      server-url:
        default: https://api.asgardeo.io/o/{suborganization-id}
      suborganization-id:
        default: {suborganization-id}
tags:
  - name: Users Endpoint
    description: This endpoint performs actions related to all users in the organization.
  - name: Groups Endpoint
    description: This endpoint performs actions related to all groups in the organization.
paths:
  /Groups:
    get:
      tags:
      - Groups Endpoint
      summary: Filter Groups
      description: "This API returns groups according to the specified filter, sort, and pagination parameters.\n\n  
      - <b>Scope required:</b> ``internal_group_mgt_view`` \n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: getGroup
      parameters:
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      - name: filter
        in: query
        description: Filter expression for filtering
        schema:
          type: string
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: Specifies the desired maximum number of query results per page.
        schema:
          type: integer
          format: int32
      - name: domain
        in: query
        description: The name of the user store where filtering needs to be applied.
        schema:
          type: string
      responses:
        200:
          description: Valid groups are found / No Group found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupsListResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
    post:
      tags:
      - Groups Endpoint
      summary: Create Group
      description: "This API creates a group and returns the details of the created group including its unique ID.\n\n
      - <b>Scope required:</b> ``internal_group_mgt_create``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: createGroup
      parameters:
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/GroupRequestObject'
        required: false
      responses:
        201:
          description: Valid group is created
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Group is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorGroupNotAvailable'
        409:
          description: Group already exist
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErroGroupAlreadyAvailable'
      x-codegen-request-body-name: body
  /Groups/.search:
    post:
      tags:
      - Groups Endpoint
      summary: Search Groups
      description: "This API returns groups according to the specified filter, sort, and pagination parameters.\n\n
      - <b>Scope required:</b> ``internal_group_mgt_view``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: getGroupsByPost
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/GroupSearchRequestObject'
        required: false
      responses:
        200:
          description: Valid groups are found / Valid groups are not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupSearchResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
      x-codegen-request-body-name: body
  /Groups/{id}:
    get:
      tags:
      - Groups Endpoint
      summary: Get Group by ID
      description: "This API returns the group details of a particular group using its unique ID.\n\n
        - <b>Scope required:</b> ``internal_group_mgt_view``\n\n
        - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: getGroup by id
      parameters:
      - name: id
        in: path
        description: Unique ID of the resource type.
        required: true
        schema:
          type: string
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      responses:
        200:
          description: Valid group is found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid group is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorNoGroupAvailable'
    put:
      tags:
      - Groups Endpoint
      summary: Update Group - PUT
      description: "This API updates the group details and returns the updated group details using a PUT operation.\n\n
      - <b>Scope required:</b> ``internal_group_mgt_update`` \n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: updateGroup
      parameters:
      - name: id
        in: path
        description: Unique ID of the resource type.
        required: true
        schema:
          type: string
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/GroupPutRequestObject'
        required: false
      responses:
        200:
          description: Group is updated
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/GroupPutResponseObject'
        400:
          description: Invalid Input
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidInput'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid group is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorNoGroupAvailable'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Groups Endpoint
      summary: Delete Group
      description: "This API deletes a particular group using its unique ID.\n\n 
      - <b>Scope required:</b> ``internal_group_mgt_delete``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: deleteGroup
      parameters:
      - name: id
        in: path
        description: Unique ID of the resource type.
        required: true
        schema:
          type: string
      responses:
        204:
          description: Group is deleted
          content: {}
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid group is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorNoGroupAvailable'
    patch:
      tags:
      - Groups Endpoint
      summary: Update Group - PATCH
      description: "This API updates the group details and returns the updated group details using a PATCH operation.\n\n 
      - <b>Scope required:</b> ``internal_group_mgt_update``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: patchGroup
      parameters:
      - name: id
        in: path
        description: Unique id of the resource type.
        required: true
        schema:
          type: string
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/PatchGroupOperationRequestObject'
        required: false
      responses:
        200:
          description: Group is updated
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/PatchGroupOperationResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid group is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorNoGroupAvailable'
      x-codegen-request-body-name: body
  /Users:
    get:
      tags:
      - Users Endpoint
      summary: Filter Users
      description: "This API returns users according to the filter, sort and pagination parameters. Pagination is not supported across user stores and LDAP multi-attribute group filtering. However, filtering is supported across multiple user stores.\n\n
      - <b>Scope required:</b> ``internal_user_mgt_list``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: getUser
      parameters:
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      - name: filter
        in: query
        description: The expression used for filtering. Supported filters are ‘Ew’, ‘Eq’, ‘Co’, ‘Sw’, and ‘and’.
        schema:
          type: string
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: Specifies the desired maximum number of query results per page.
        schema:
          type: integer
          format: int32
      - name: domain
        in: query
        description: The name of the user store where filtering needs to be applied.
        schema:
          type: string
      responses:
        200:
          description: Valid users are found / Valid users are not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserObjectListResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
    post:
      tags:
      - Users Endpoint
      summary: Create User
      description: "This API creates a user and returns the user details along with the user's unique ID.\n\n
      - <b>Scope required:</b> ``internal_user_mgt_create``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: createUser
      parameters:
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UserObject'
                - $ref: '#/components/schemas/UserObjectPassInvite'
        required: false
      responses:
        201:
          description: User is created.
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResponseObject'
        400:
          description: Invalid Input
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidInput'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        500:
          description: Internal Server Error
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorInternalServerError'
      x-codegen-request-body-name: body
  /Users/.search:
    post:
      tags:
      - Users Endpoint
      summary: Search Users
      description: "This API returns users according to the filter, sort and pagination parameters.\n\n 
      - <b>Scope required:</b> ``internal_user_mgt_list``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: getUsersByPost
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/UserSearchRequestObject'
        required: false
      responses:
        200:
          description: Valid users are found / Valid users are not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserObjectListResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
      x-codegen-request-body-name: body
  /Users/{id}:
    get:
      tags:
      - Users Endpoint
      summary: Get User by ID
      description: "Return user details if a user found.\n\n
      - <b>Scope required:</b> ``internal_user_mgt_view``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: getUser by id
      parameters:
      - name: id
        in: path
        description: Unique ID of the resource type.
        required: true
        schema:
          type: string
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      responses:
        200:
          description: Valid user is found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid user is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUserNotAvailable'
    put:
      tags:
      - Users Endpoint
      summary: Update User - PUT
      description: "This API updates user details and return the updated user details using a PUT operation.\n\n 
      - <b>Scope required:</b> ``internal_user_mgt_update``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: updateUser
      parameters:
      - name: id
        in: path
        description: Unique ID of the resource type.
        required: true
        schema:
          type: string
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/UserUpdateObject'
        required: false
      responses:
        200:
          description: Valid user is found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid user is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUserNotAvailable'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Users Endpoint
      summary: Delete User by ID
      description: "This API deletes a user using the user's unique ID.\n\n 
      - <b>Scope required:</b> ``internal_user_mgt_delete``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: deleteUser
      parameters:
      - name: id
        in: path
        description: Unique ID of the user that you want to delete.
        required: true
        schema:
          type: string
      responses:
        204:
          description: User is deleted
          content: {}
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid user is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUserNotAvailable'
    patch:
      tags:
      - Users Endpoint
      summary: Update User - PATCH
      description: "This API updates user details and returns the updated user details using a PATCH operation.\n\n 
      - <b>Scope required:</b> ``internal_user_mgt_update``\n\n
      - <b>Supported Operations:</b>``add``, ``replace``, ``remove``\n\n
      - <b>Flow type:</b> Client Credentials OAuth Flow"
      operationId: patchUser
      parameters:
      - name: id
        in: path
        description: Unique id of the resource type.
        required: true
        schema:
          type: string
      - name: attributes
        in: query
        description: SCIM defined attributes parameter.
        schema:
          type: string
      - name: excludedAttributes
        in: query
        description: SCIM defined excludedAttribute parameter.
        schema:
          type: string
      requestBody:
        content:
          application/scim+json:
            schema:
              $ref: '#/components/schemas/PatchOperationInput'
        required: false
      responses:
        200:
          description: Valid user is found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/UserResponseObject'
        401:
          description: Unauthorized
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        403:
          description: Forbidden
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorForbidden'
        404:
          description: Valid user is not found
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorUserNotAvailable'
      x-codegen-request-body-name: body
components:
  schemas:
    UserObject:
      title: Set a password for the user
      required:
      - password
      type: object
      properties:
        schemas:
          type: object
          properties: {}
          example: []
        name:
          type: object
          properties:
            givenName:
              type: string
              description: The `givenName` you specify will be entered for the First Name attribute in the user's profile.
              example: Kim
            familyName:
              type: string
              description: The `familyName` you specify will be entered for the Last Name attribute in the user's profile.
              example: Berry
        userName:
          type: string
          description: By default, the username should be the email address and it will be stored in the `DEFAULT` user store. However, if username validation is changed to `Alphanumeric` in your Asgardeo organization, you need to specify an alphanumeric value (a-z, A-Z, 0-9) as the username instead of the email.
          example: DEFAULT/kim@gmail.com 
        password:
          type: string
          description: Use this parameter to set a password for the user account. The user will be able to reset this password later. When setting the password, be sure to follow the password-validation rules configured for your organization.
          example: aBcd!23#
        emails:
          type: array
          description: This email will be entered for the Email attribute in the user's profile.
          example:
          - value: kim@gmail.com
            primary: true
          items:
            type: object
            properties: {}
        urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
          type: object
          properties:
            manager:
              type: object
              properties:
                value:
                  type: string
                  example: Taylor
        urn:scim:wso2:schema:
          type: object
          properties:
            verifyEmail:
              type: boolean
              description: When the administrator sets the password for the new user account, this parameter specifies if the new user should confirm the new account through email. If this parameter is set to `true`, an email is sent to the user's email address requesting confirmation.
              example: true
    UserObjectPassInvite:
      title: Invite the user to set their own password
      type: object
      properties:
        schemas:
          type: object
          properties: {}
          example: []
        name:
          type: object
          properties:
            givenName:
              type: string
              description: The `givenName` you specify will be entered for the First Name attribute in the user's profile.
              example: Kim
            familyName:
              type: string
              description: The `familyName` you specify will be entered for the Last Name attribute in the user's profile.
              example: Berry
        userName:
          type: string
          description: By default, the username should be the email address and it will be stored in the `DEFAULT` user store. However, if username validation is changed to `Alphanumeric` in your Asgardeo organization, you need to specify an alphanumeric value (a-z, A-Z, 0-9) as the username instead of the email.
          example: DEFAULT/kim@gmail.com
        emails:
          type: array
          description: This email will be entered for the Email attribute in the user's profile.
          example:
          - value: kim@gmail.com
            primary: true
          items:
            type: object
            properties: {}
        urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
          type: object
          properties:
            manager:
              type: object
              properties:
                value:
                  type: string
                  example: Taylor
        urn:scim:wso2:schema:
          type: object
          properties:
            askPassword:
              type: boolean
              description: If this parameter is set to `true`, users will be allowed configure their own password. An email is sent to the specified email address, which will have instructions for the user to set the password and confirm the new user account.
              example: true
    UserResponseObject:
      required:
      - meta
      type: object
      properties:
        meta:
          type: object
          properties:
            created:
              type: string
              example: 2018-08-17T10:34:29Z
            location:
              type: string
              example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Users/008bba85-451d-414b-87de-c03b5a1f4217
            lastModified:
              type: string
              example: 2018-08-17T10:34:29Z
            resourceType:
              type: string
              example: User
        schemas:
          type: object
          properties: {}
          example:
          - urn:ietf:params:scim:schemas:core:2.0:User
          - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
        username:
          type: string
          example: DEFAULT/kim@gmail.com
        id:
          type: string
          example: 008bba85-451d-414b-87de-c03b5a1f4217
        name:
          type: object
          properties:
            givenName:
              type: string
              example: Kim
            familyName:
              type: string
              example: Berry
        emails:
          type: array
          example:
            - kim@gmail.com
          items:
            type: object
            properties: {}
        urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
          type: object
          properties:
            manager:
              type: object
              properties:
                value:
                  type: string
                  example: Taylor
        roles:
          type: object
          properties: {}
          example:
          - type: default
            value: Internal/everyone
    UserUpdateObject:
      type: object
      properties:
        schemas:
          type: object
          properties: {}
          example: []
        name:
          type: object
          properties:
            givenName:
              type: string
              example: Kim
            familyName:
              type: string
              example: Berry
        userName:
          type: string
          example: DEFAULT/kim@gmail.com
        emails:
          type: array
          example:
          - value: kim@gmail.com
            primary: true
          items:
            type: object
            properties: {}
        urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
          type: object
          properties:
            manager:
              type: object
              properties:
                value:
                  type: string
                  example: Taylor
    PatchOperationInput:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: object
            example: urn:ietf:params:scim:api:messages:2.0:PatchOp
        Operations:
          type: array
          items:
            $ref: '#/components/schemas/OperationMeItem'
    OperationMeItem:
      type: object
      properties:
        op:
          type: string
          enum:
          - add
          - remove
          - replace
        value:
          type: object
          properties:
            nickName:
              type: string
              example: shaggy
    PatchOperationResponseOutput:
      required:
      - meta
      type: object
      properties:
        meta:
          type: object
          properties:
            created:
              type: string
              example: 2018-08-17T10:34:29Z
            location:
              type: string
              example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Users/008bba85-451d-414b-87de-c03b5a1f4217
            lastModified:
              type: string
              example: 2018-08-17T10:34:29Z
            resourceType:
              type: string
              example: User
        schemas:
          type: array
          items:
            type: string
            example: ""
        username:
          type: string
          example: kim
        id:
          type: string
          example: 008bba85-451d-414b-87de-c03b5a1f4217
        name:
          type: object
          properties:
            givenName:
              type: string
              example: Kim
            familyName:
              type: string
              example: Berry
        emails:
          type: array
          example:
            - kim@gmail.com
          items:
            type: object
            properties: {}
        urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
          type: object
          properties:
            manager:
              type: object
              properties:
                value:
                  type: string
                  example: Taylor
        roles:
          type: array
          items:
            type: object
            properties:
              $ref:
                type: string
                example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Roles/4645709c-ea8c-4495-8590-e1fa0efe3de0
              display:
                type: string
                example: loginRole
              value:
                type: string
                example: 4645709c-ea8c-4495-8590-e1fa0efe3de0
        nickName:
          type: string
          example: shaggy
    GroupRequestObject:
      required:
      - displayName
      - schemas
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:Group
        displayName:
          type: string
          example: DEFAULT/manager
        members:
          type: array
          items:
            type: object
            properties: {}
            example:
              value: 008bba85-451d-414b-87de-c03b5a1f4217
              display: kim
    GroupResponseObject:
      type: object
      properties:
        displayName:
          type: string
          example: DEFAULT/manager
        meta:
          type: object
          properties:
            created:
              type: string
              example: 2019-08-26T14:27:36
            location:
              type: string
              example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Groups/7bac6a86-1f21-4937-9fb1-5be4a93ef469
            lastModified:
              type: string
              example: 2019-08-26T14:27:36
            resourceType:
              type: string
              example: Group
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:Group
        id:
          type: string
          example: 7bac6a86-1f21-4937-9fb1-5be4a93ef469
        members:
          type: array
          items:
            type: object
            properties:
              $ref:
                type: string
                example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Users/3a12bae9-4386-44be-befd-caf349297f45
              display:
                type: string
                example: kim
              value:
                type: string
                example: 008bba85-451d-414b-87de-c03b5a1f4217
        roles:
          type: array
          items:
            type: object
            properties:
              $ref:
                type: string
                example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Roles/4645709c-ea8c-4495-8590-e1fa0efe3de0
              display:
                type: string
                example: loginRole
              value:
                type: string
                example: 4645709c-ea8c-4495-8590-e1fa0efe3de0
    GroupsListResponseObject:
      type: object
      properties:
        totalResults:
          type: integer
          example: 3
        startIndex:
          type: integer
          example: 1
        itemsPerPage:
          type: integer
          example: 3
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/groupOb'
    GroupSearchRequestObject:
      type: object
      properties:
        schemas:
          type: object
          properties: {}
          example:
          - urn:ietf:params:scim:api:messages:2.0:SearchRequest
        startIndex:
          type: integer
          example: 1
        filter:
          type: string
          example: displayName eq manager
    GroupSearchResponseObject:
      type: object
      properties:
        totalResults:
          type: integer
          example: 1
        startIndex:
          type: integer
          example: 1
        itemsPerPage:
          type: integer
          example: 3
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/groupOb'
    groupOb:
      type: object
      properties:
        displayName:
          type: string
          example: DEFAULT/manager
        meta:
          type: object
          properties:
            created:
              type: string
              example: 2019-08-26T14:27:36
            location:
              type: string
              example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Groups/7bac6a86-1f21-4937-9fb1-5be4a93ef469
            lastModified:
              type: string
              example: 2019-08-26T14:27:36
        members:
          type: array
          items:
            type: object
            properties:
              $ref:
                type: string
                example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Users/3a12bae9-4386-44be-befd-caf349297f45
              display:
                type: string
                example: kim
              value:
                type: string
                example: 008bba85-451d-414b-87de-c03b5a1f4217
        roles:
          type: array
          items:
            type: object
            properties:
              $ref:
                type: string
                example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Roles/4645709c-ea8c-4495-8590-e1fa0efe3de0
              display:
                type: string
                example: loginRole
              value:
                type: string
                example: 4645709c-ea8c-4495-8590-e1fa0efe3de0
        id:
          type: string
          example: 7bac6a86-1f21-4937-9fb1-5be4a93ef469
    GroupPutRequestObject:
      type: object
      properties:
        displayName:
          type: string
          example: manager
        members:
          type: array
          items:
            type: object
            properties: {}
            example:
              value: 409ca90b-2ba6-4474-9a45-2cf7376e6e43
              display: kris
    GroupPutResponseObject:
      type: object
      properties:
        displayName:
          type: string
          example: DEFAULT/manager
        meta:
          type: object
          properties:
            created:
              type: string
              example: 2019-08-26T14:27:36
            location:
              type: string
              example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Groups/7bac6a86-1f21-4937-9fb1-5be4a93ef469
            lastModified:
              type: string
              example: 2019-08-26T14:27:36
            resourceType:
              type: string
              example: Group
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:Group
        id:
          type: string
          example: 7bac6a86-1f21-4937-9fb1-5be4a93ef469
        members:
          type: array
          items:
            type: object
            properties: {}
            example:
              display: kris
              value: 409ca90b-2ba6-4474-9a45-2cf7376e6e43
    PatchGroupOperationRequestObject:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:PatchOp
        Operations:
          type: array
          items:
            $ref: '#/components/schemas/GroupItemObj'
    GroupItemObj:
      type: object
      properties:
        op:
          type: string
          enum:
          - add
          - remove
          - replace
        value:
          type: object
          properties:
            members:
              type: array
              items:
                type: object
                properties: {}
                example:
                  display: kris
                  value: 409ca90b-2ba6-4474-9a45-2cf7376e6e43
    PatchGroupOperationResponseObject:
      type: object
      properties:
        displayName:
          type: string
          example: DEFAULT/manager
        meta:
          type: object
          properties:
            created:
              type: string
              example: 2019-08-26T14:27:36
            location:
              type: string
              example: https://api.asgardeo.io/o/{suborganization-id}/scim2/Groups/7bac6a86-1f21-4937-9fb1-5be4a93ef469
            lastModified:
              type: string
              example: 2019-08-26T14:27:36
            resourceType:
              type: string
              example: Group
        schemas:
          type: object
          properties: {}
          example:
          - urn:ietf:params:scim:schemas:core:2.0:Group
        id:
          type: string
          example: 7bac6a86-1f21-4937-9fb1-5be4a93ef469
        members:
          type: array
          items:
            type: object
            properties: {}
            example:
            - display: kris
              value: 409ca90b-2ba6-4474-9a45-2cf7376e6e43
            - display: kim
              value: 007bfc66-e4f0-4d53-9dfd-0c4a77b33257
    UserObjectListResponseObject:
      type: object
      properties:
        totalResults:
          type: integer
          example: 1
        startIndex:
          type: integer
          example: 1
        itemsPerPage:
          type: integer
          example: 1
        schemas:
          type: object
          properties: {}
          example:
          - urn:ietf:params:scim:api:messages:2.0:ListResponse
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/UserResponseObject'
    UserSearchRequestObject:
      type: object
      example:
        schemas:
        - urn:ietf:params:scim:api:messages:2.0:SearchRequest
        attributes:
        - name.familyName
        - userName
        filter: userName sw ki and name.familyName co err
        domain: PRIMARY
        startIndex: 1
        count: 10
    UserObResourceType:
      type: object
      properties:
        schema:
          type: string
          example: urn:ietf:params:scim:schemas:core:2.0:User
        endpoint:
          type: string
          example: /Users
        meta:
          type: object
          properties:
            location:
              type: string
              example: https://api.asgardeo.io/o/{suborganization-id}/scim2/ResourceType/User
            resourceType:
              type: string
              example: ResourceType
        name:
          type: string
          example: User
        description:
          type: string
          example: User Account
        schemaExtensions:
          type: object
          properties:
            schema:
              type: string
              example: urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
            required:
              type: boolean
              example: false
        id:
          type: string
          example: User
    SPConfigResponse:
      type: object
      example:
        patch:
          supported: true
        filter:
          maxResults: 200
          supported: true
        documentationUri: http://example.com/help/scim.html
        authenticationSchemes:
        - name: OAuth Bearer Token
          description: Authentication scheme using the OAuth Bearer Token Standard
          specUri: http://www.rfc-editor.org/info/rfc6750
          type: oauthbearertoken
          primary: true
        - name: HTTP Basic
          description: Authentication scheme using the HTTP Basic Standard
          specUri: http://www.rfc-editor.org/info/rfc2617
          type: httpbasic
          primary: false
        schemas:
        - urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig
        etag:
          supported: false
        sort:
          supported: false
        bulk:
          maxPayloadSize: 1048576
          maxOperations: 1000
          supported: true
        changePassword:
          supported: false
    ErrorInvalidInput:
      required:
      - detail
      - status
      type: object
      properties:
        status:
          type: string
          example: "400"
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        scimType:
          type: string
          example: invalidSyntax
        detail:
          type: string
          example: Request is unparsable, syntactically incorrect, or violates schema.
    ErrorUnauthorized:
      required:
      - status
      type: object
      properties:
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: "Authorization failure. Authorization information was invalid or missing from your request."
        status:
          type: string
          example: "401"
    ErrorNotAcceptable:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          example: "406"
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        scimType:
          type: string
          example: Not Acceptable
    ErrorForbidden:
      required:
      - status
      type: object
      properties:
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: "Operation is not permitted. You do not have permission to make this request."
        status:
          type: string
          example: "403"
    ErrorUserNotAvailable:
      required:
      - detail
      - status
      type: object
      properties:
        status:
          type: string
          example: "404"
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: 'No user with the id : 008bba85-451d-414b-87de-c03b5a1f4217 in
            the user store.'
    ErrorGroupNotAvailable:
      required:
      - detail
      - status
      type: object
      properties:
        status:
          type: string
          example: "404"
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: 'No Group with the id : 89a2a363-c90f-47e9-afae-949d026dad16 in
            the user store.'
    ErrorSchemaNotFound:
      required:
      - detail
      - status
      type: object
      properties:
        status:
          type: string
          example: "404"
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: Schema not found.
    ErrorNoGroupAvailable:
      required:
      - detail
      - status
      type: object
      properties:
        status:
          type: string
          example: "404"
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: Group not found in the user store.
    GroupSearchErrorResponseObject:
      required:
      - itemsPerPage
      - schemas
      - startIndex
      - totalResults
      type: object
      properties:
        totalResults:
          type: integer
          example: 0
        startIndex:
          type: integer
          example: 1
        itemsPerPage:
          type: integer
          example: 0
        schemas:
          type: array
          items:
            type: object
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
    ErroGroupAlreadyAvailable:
      required:
      - detail
      - status
      type: object
      properties:
        status:
          type: string
          example: "409"
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: 'Group with name: DEFAULT/manager already exists in the system.'
    ErrorInternalServerError:
      required:
      - detail
      - status
      type: object
      properties:
        status:
          type: string
          example: "500"
        schemas:
          type: string
          example: urn:ietf:params:scim:api:messages:2.0:Error
        detail:
          type: string
          example: Internal Server Error.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "**Authorization code OAuth flow** + **Organization Switch**
      \n\n Scopes:
      \n\n - ```internal_user_mgt_list```: Grant permissions to read user records.
      \n\n - ```internal_user_mgt_create```: Grant permissions to create new users.
      \n\n - ```internal_user_mgt_update```: Grant permissions to update existing users.
      \n\n - ```internal_user_mgt_delete```: Grant permissions to delete users.
      \n\n - ```internal_group_mgt_view```: Grant permissions to read group records.
      \n\n - ```internal_group_mgt_create```: Grant permissions to create new group records.
      \n\n - ```internal_group_mgt_update```: Grant permissions to update existing group records.
      \n\n - ```internal_group_mgt_delete```: Grant permissions to delete group records."
