.login-portal.layout .center-segment .product-title .product-logo img {
    height: 40px;
}

body.login-portal.layout.recovery-layout {
    background-image: url(https://identity.accessacloud.com/marketing/splash/5692e276-80db-4730-85af-a2886a1754cf/image?id=5692e276-80db-4730-85af-a2886a1754cf);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-portal.layout .footer {
    background: #ffffff57;
}

@media only screen and (min-width: 970px) {
    .login-portal.layout .center-segment {
        margin: auto 0 !important;
    }

    .login-portal.layout .center-segment > .ui.container.medium,
    .login-portal.layout .center-segment > .ui.container.large {
        margin-left: 80px !important;
    }
}
