name: Markdown Lint

on:
  pull_request:
    paths:
      - '**/*.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: tj-actions/changed-files@v46
        id: changed-files
        with:
          files: '**/*.md'
          separator: ","

      - name: Markdownlint via reviewdog
       if: steps.changed-files.outputs.any_changed == 'true'
       run: |
        npx markdownlint-cli ${{ steps.changed-files.outputs.all_changed_files }} | \
        reviewdog -f=markdownlint -name=markdownlint -reporter=github-pr-check -filter-mode=diff -fail-on-error
       env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}